doctype html

html(ng-app='myTodo')
head
    // meta
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Optimize mobile viewport
    title Node/Angular Todo App
    // scrolls
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    // load bootstrap
    style.
      html                    { overflow-y:scroll; }
      body                    { padding-top:50px; }
      #todo-list              { margin-bottom:30px; }
    // spells
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    // load jquery
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
    // load angular
    script(src='core.js')
  
  body(ng-controller='mainController')
    .container
      // HEADER AND TODO COUNT
      .jumbotron.text-center
        h1                    
          | TODO List WepApp      
        h2
          | Iten count : 
          span.label.label-info {{ todos.length }}
      // FORM TO CREATE TODOS
      #todo-form.container-fluid
        form.form-inline
          .form-group
            // BIND THIS VALUE TO formData.text IN ANGULAR 
            label.sr-only(for='itext') Input
            input#itext.form-control.input-lg.text-center(type='text', placeholder='make MEAN stack ppt', ng-model='formData.text')
          // createToDo() WILL CREATE NEW TODOS
          button.btn.btn-primary.btn-lg(type='submit', ng-click='createTodo()') Add
      // TODO LIST
      #todo-list.container-fluid
        // LOOP OVER THE TODOS IN $scope.todos
        table.table.table-striped
          th
            label
              | My Todo´s
          tr(ng-repeat='todo in todos')             
            td 
              label
                input(type='checkbox', ng-click='deleteTodo(todo._id)')
                |  {{ todo.text }}
      